<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Books List</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available Copies</th>
          </tr>
        </thead>
        <tbody>
          <% for (let book of books) { %>
            <tr>
              <td><%= book.id %></td>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td><%= book.copies %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/library/issuedBooks"><button class="btn btn-dark">issuedBooks</button></a>
      <a href="/library/addBook"><button class="btn btn-dark">Add New Book</button></a>
</div>
