<% layout('layout/boilerplate') %>

<div class="container">
    <h1>All Subjects</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Assigned Class</th>
          </tr>
        </thead>
        <tbody>
          <% for (let subject of subjects) { %>
            <tr>
              <td><%= subject.id %></td>
              <td><%= subject.name %></td>
              <td><%= subject.assignedClass %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>
