<% layout('layout/boilerplate') %>

<div class="container">
  <h1>Fees Report</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Amount Paid</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% for (let fee of feesReports) { %>
        <tr>
          <td><%= fee.studentId %></td>
          <td><%= fee.name %></td>
          <td><%= Number(fee.amount).toFixed(2) %></td>
          <td><%= new Date(fee.date).toISOString().split('T')[0] %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <a href="/fees/collectFees"><button  class="btn btn-dark">Back</button></a>
</div>
