<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Hello Dashboard</h1>
    <div class="table-responsive">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
            
            <% for ( student of students) { %>
              <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.last %></td>
                <td><%= student.age %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
          <a href="/student/create"><button class="btn btn-dark">+ Add Student</button></a>
      </div>
    </div>
</div>
