<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Admins</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Admin ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% for (let admin of admins) { %>
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.name %></td>
              <td><%= admin.email %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>
