<% layout('layout/boilerplate') %>

<div class="container">
  <h1>Add New Class</h1>
  <form action="/classes/addClass" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Class Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
  
    <div class="mb-3">
      <label for="teacher_id" class="form-label">Teacher Name</label>
      <select class="form-select" id="teacher_id" name="teacher_id" required>
        <option value="">Select a teacher</option>
        <% teachers.forEach(teacher => { %>
          <option value="<%= teacher.id %>"><%= teacher.name %> <%= teacher.last %></option>
        <% }) %>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="room" class="form-label">Room Number</label>
      <input type="text" class="form-control" id="room" name="room" required>
    </div>
  
    <button type="submit" class="btn btn-dark">Add Class</button>
  </form>
  
</div>
