<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Class Timetable</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00 - 10:00</td>
            <td>Math</td>
            <td>English</td>
            <td>Science</td>
            <td>History</td>
            <td>Physical Education</td>
          </tr>
          <tr>
            <td>10:00 - 11:00</td>
            <td>English</td>
            <td>Math</td>
            <td>Geography</td>
            <td>Science</td>
            <td>Art</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
</div>
